.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.itemList{
/*   border: 1px solid black; */
  border-radius: 5px;
  width: 280px;
  height:60vh;
  box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
}

.addToCartButton{
    border: 1px solid black;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.54);
}

.no-border{
  border: 0;
  width: 25px;
}

.remove{
  width: 35px;
  height: 35px;
}

.countWidget{
  width: 30px;
}

.cartWidgetCounter{
  text-decoration: none;
}

.bgLayout{
  background-image: url("./assets/images/kisspng-pac-man-world-3-ms-pac-man-pac-man-games-pac-man-transparent-png-5a797bceef3227.5142749115179109909798.png");
  background-position: -15%;
  background-size: 30%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.itemsHeight{
  height: 50vh
}

/* .detailHeight{
  height: 60vh;
  margin: 100px 0px 100px 0px
} */